/* HomePage.css */

  
  body{
    background-color: #af1e1e;
  }
  
  img {
    border-radius: 10%;
    margin-right: 10%; /* Utilizza percentuali o em per rendere il margine più flessibile */
  }
  
  @media (max-width: 768px) {
    img {
      margin-right: 0; /* Rimuovi il margine per schermi più piccoli */
      margin-top: 1rem;
    }
  }
  
  h1 {
    margin: 0;
    font-size: 2rem; /* Sostituisci con la dimensione desiderata per il testo */
    color: #000; /* Sostituisci con il colore desiderato per il testo */
  }
  